<h1>Welcome, <%= @user.username %>'s Project Vault</h1>
<br>

<% if @user.projects.empty? %>
   <div class="text-center"><p>Your project vault is empty </p>
   <p><a class="btn btn-success" style="margin: 20px" href="/projects/new" role="button">Add a New Project</a>
<% else %>
<div class="row">
   <a class="btn btn-success" style="margin: 20px" href="/projects/new" role="button">+ Add New</a>
</div>
<% end %>

<div class="row">

  <% @user.projects.each do |project| %>
     <div class="card" style="width: 15rem; margin: 20px">
      <div class="text-center">
       <div class="card-header"><a href='/projects/<%= project.id %>'><%= project.title %></a></div>
     </div>
</div>
  <% end %>
</div>







    



