<% if logged_in? %>
<%= @error %>
<h1>Add a New Project to Your Vault </h1>
 <form action="/projects" method="POST">
 <div class="form-group">
    <label for="title">Title *</label>
    <input type="text" class="form-control" id="title" name="title" required>
  </div>
 <div class="form-group">
    <label for="description">Description *</label>
    <input type="text" class="form-control" id="description" name="description" required>
  </div>
<div class="form-group">
    <label for="platform">Platform *</label>
    <input type="text" class="form-control" id="platform" name="platform" required>
  </div>
  <div class="form-group">
    <label for="programminglanguage">Programming Language *</label>
  L<input type="text" class="form-control" id="programminglanguage" name="programming_language" required>
  </div>
  <button type="submit" class="btn btn-primary" style="margin-bottom: 20px">SUBMIT</button>
</form>

  <% else %>
      <h1> You Must Be Logged in to Add Projects </h1>
  <% end %>