<% if logged_in? %>
<%= @error %>
 <form action="/projects" method="POST">
<label>Title:</label><input type="text" name="title"><br>
<label>Description:</label><input type="text" name="description"><br>
<label>Platform:</label><input type="text" name="platform"><br>
<label>Programming Language:</label><input type="text" name="programming_language"><br>
<label>Start Date:</label><input type="text" name="start_date"><br>
<label>End Date:</label><input type="text" name="end_date"><br>
<input type="submit" value="Submit" id="submit">
</form>

  <% else %>
      <h1> You Must Be Logged in to Add Projects </h1>
  <% end %>